<header>New Event For October 10th</header>
<form class="col-xs-12 col-sm-6">
    <div class="form-group row">
        <label for="formTitle" class="col-xs-12 col-form-label">Title</label>
        <input class="form-control" type="text" placeholder="Event title" id="formTitle">
    </div>
    <div class="form-group row">
        <label for="formLocation" class="col-xs-12 col-form-label">Location</label>
        <input class="form-control" type="text" placeholder="Event location" id="formLocation">
    </div>
    <div class="form-group row">
        <label for="formDescription" class="col-xs-12 col-form-label">Description</label>
        <textarea class="form-control" type="text" placeholder="Some details about the event" id="formDescription"></textarea>
    </div>
    <div class="formErr">
        <p>Error!</p>
    </div>
    <div id="buttons">
        <button type="submit" class="btn btn-primary col-xs-3">Submit</button>
        <button class="btn btn-primary col-xs-2">Home</button>
    </div>
</form>