<div class="calContainer" id="monthContainer">
    <section id="month-nav" class="calCol-3 text-center">
        <a href="#"><</a>
        {{ month }}
        <a href="#">></a>
    </section>
    <span class="calCol-2"></span>
    <a href="">
        <section id='addEventButton' class="calCol-2 text-center">
            Add Event
        </section>
    </a>
    <header class="calRow dayTitleContainer hidden-sm-down">
        {{#each weekDays}}
        <div class="calCol-1">{{this}}</div>
        {{else}}
        <div class="bg-danger calCol-7">Problem getting days of week</div>
        {{/each}}
    </header>
    {{#times 5}}
    <div class="calRow">
        {{#times 7}}
        <div class="dayContainer calCol-1">
            <div class="dayContent">
                <header>
                    <p class="desktopDateFormat">
                        ##
                    </p>
                    <p class="mobileDateFormat">
                        DayOfWeek, Month ##
                    </p>
                </header>
                <ul class="row list-group">
                    <li class="col-xs-12 list-group-item">Item 1</li>
                    <li class="col-xs-12 list-group-item">Item 2 is kinda long compared to the others</li>
                    <li class="col-xs-12 list-group-item">Item 3</li>
                </ul>
            </div>
        </div>
        {{/times}}
    </div>
    {{/times}}
    <!--Create week boxes, then day boxes using custom grid-->
</div>