<div class="calContainer" id="monthContainer">
    <header class="calRow dayTitleContainer hidden-sm-down">
        <div class="calCol-7">{{ month }}</div>
        {{#times 7}}
        <div class="calCol-1">Day Title</div>
        {{/times}}
    </header>
    {{#times 5}}
    <div class="calRow">
        {{#times 7}}
        <div class="dayContainer calCol-1">
            <div class="dayContent">
                <header>
                    <p class="row">
                        <span class="hidden-sm">DayOfWeek</span>
                        <span class="hidden-sm">{{ month }}</span>
                        <span class="col-xs-12">##</span>
                    </p>
                </header>
                <ul class="row">
                    <li class="col-xs-12">Item 1</li>
                    <li class="col-xs-12">Item 2</li>
                    <li class="col-xs-12">Item 3</li>
                </ul>
            </div>
        </div>
        {{/times}}
    </div>
    {{/times}}
    <!--Create week boxes, then day boxes using custom grid-->
</div>