<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Josh's cool calendar app</title>
    <link rel="stylesheet" href="/public/css/styles-from-sass.min.css">
    <link href="/public/css/bootstrap.min.css" rel="stylesheet" >
</head>

<body>
    <div class="container">
        <div id="content">
        </div>
    </div>
    <script src="/public/js/vendor.js"></script>
    <script src="/public/js/components.js"></script>
</body>

</html>