<div>
    <form (ngSubmit)="onSubmit()">
        {{diagnostic}}
        <h2>Let's make a post!</h2>
        <label for="title">Title:</label>
        <input [(ngModel)]="model.title" type="text" id="title" name="postTitle" value="{{model.title}}" required>
        <br />
        <label for="body">Body:</label>
        <textarea [(ngModel)]="model.body" type="text" id="body" name="postBody" value="{{model.body}}" required>
        </textarea>
        <br />
        <label for="title">Image URL:</label>
        <input [(ngModel)]="model.imageUrl" type="text" id="imageUrl" name="postImageUrl" value="{{model.imageUrl}}">
        <br />
        <a (click)="newPost()" routerLink="/posts">
            <button type="button"  >Submit</button>
        </a>
    </form>
    <hr />
    <article>
        <h2>{{ model.title }}</h2>
        <p>{{ model.body }}</p>
        <img src="{{ model.imageUrl }}"/>
    </article>
</div>