<div>
    <form>
        <h2>Let's make a post!</h2>
        <label for="title">Title:</label>
        <input ng-model="newPost.title" type="text" id="title" required>
        <br />
        <label for="body">Body:</label>
        <textarea ng-model="newPost.body" type="text" id="body" required>
        </textarea>
        <br />
        <button type="submit">Submit</button>
    </form>
    <article>
        <p>Form:</p>
        <pre>{{ newPost }}</pre>
        <pre>{{post}}</pre>
    </article>
</div>